@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model CommonCalculatorModel
<form asp-controller="CommonCalculator" asp-action="ClearExpression" method="get">
    <body>
        <h1 class='text-center text-primary'>Calculate!</h1>
        <div class='container'>
            <div class='row'>
                <form class='form-group-lg form-inline' onsubmit='return false'>
                    <input asp-for=Expression type='text' id='calcinput' class='focusedInput form-control'>
                    <button type='submit' class='btn btn-warning btn-lg' style="margin-top: 10px">Clear</button>
                </form>
            </div>
        </div>
        <div class='container-fluid' style="margin-top: 10px">
            <div class='row'>
                <div class='col-xs-1 col-1 offset-4'>
                    <button onclick="location.href='@Url.Action("AssignExpression", "CommonCalculator", new { value = "7" })'" formmethod="post"
                        class='btn btn-lg btn-primary btn-input' type='button'>7</button>
                </div>
                <div class='col-xs-1 col-1'>
                    <button onclick="location.href='@Url.Action("AssignExpression", "CommonCalculator", new {  value = "8" })'" formmethod="post"
                        class='btn btn-lg btn-primary btn-input' type='button'>8</button>
                </div>
                <div class='col-xs-1 col-1'>
                    <button onclick="location.href='@Url.Action("AssignExpression", "CommonCalculator", new {  value = "9" })'" formmethod="post"
                        class='btn btn-lg btn-primary btn-input' type='button'>9</button>
                </div>
                <div class='col-xs-1 col-1'>
                    <button onclick="location.href='@Url.Action("AssignExpression", "CommonCalculator", new {  value = "+" })'" formmethod="post"
                        class='btn btn-lg btn-primary btn-input' type='button'>+</button>
                </div>
            </div> <!--row-->
            <div class='row'>
                <div class='col-xs-1 col-1 offset-4'>
                    <button onclick="location.href='@Url.Action("AssignExpression", "CommonCalculator", new {  value = "4" })'" formmethod="post"
                        class='btn btn-lg btn-primary btn-input' type='button'>4</button>
                </div>
                <div class='col-xs-1 col-1'>
                    <button onclick="location.href='@Url.Action("AssignExpression", "CommonCalculator", new {  value = "5" })'" formmethod="post"
                        class='btn btn-lg btn-primary btn-input' type='button'>5</button>
                </div>
                <div class='col-xs-1 col-1'>
                    <button onclick="location.href='@Url.Action("AssignExpression", "CommonCalculator", new {  value = "6" })'" formmethod="post"
                        class='btn btn-lg btn-primary btn-input' type='button'>6</button>
                </div>
                <div class='col-xs-1 col-1'>
                    <button onclick="location.href='@Url.Action("AssignExpression", "CommonCalculator", new {  value = "-" })'" formmethod="post"
                        class='btn btn-lg btn-primary btn-input' type='button' id='small'>-</button>
                </div>
            </div> <!--row-->
            <div class='row'>
                <div class='col-xs-1 col-1 offset-4'>
                    <button onclick="location.href='@Url.Action("AssignExpression", "CommonCalculator", new {  value = "1" })'" formmethod="post"
                        class='btn btn-lg btn-primary btn-input' type='button'>1</button>
                </div>
                <div class='col-xs-1 col-1'>
                    <button onclick="location.href='@Url.Action("AssignExpression", "CommonCalculator", new {  value = "2" })'" formmethod="post"
                        class='btn btn-lg btn-primary btn-input' type='button'>2</button>
                </div>
                <div class='col-xs-1 col-1'>
                    <button onclick="location.href='@Url.Action("AssignExpression", "CommonCalculator", new {  value = "3" })'" formmethod="post"
                        class='btn btn-lg btn-primary btn-input' type='button'>3</button>
                </div>
                <div class='col-xs-1 col-1'>
                    <button onclick="location.href='@Url.Action("AssignExpression", "CommonCalculator", new {  value = "*" })'" formmethod="post"
                        class='btn btn-lg btn-primary btn-input' type='button' id='small'>*</button>
                </div>
            </div> <!--row-->
            <div class='row'>
                <!--row-->
                <div class='col-xs-1 col-1 offset-4'>
                    <button onclick="location.href='@Url.Action("AssignExpression", "CommonCalculator", new {  value = "0" })'" formmethod="post"
                        class='btn btn-lg btn-primary btn-input' type='button'>0</button>
                </div>
                <div class='col-xs-1 col-1'>
                    <button onclick="location.href='@Url.Action("AssignExpression", "CommonCalculator", new {  value = "." })'" formmethod="post"
                        class='btn btn-lg btn-primary btn-input' type='button' id='small'>.</button>
                </div>
                <div class='col-xs-1 col-1'>
                    <button onclick="location.href='@Url.Action("DoCalculation", "CommonCalculator")'"
                        class='btn btn-lg btn-primary btn-input' type='submit' id='submit'>=</button>
                </div>
                <div class='col-xs-1 col-1'>
                    <button onclick="location.href='@Url.Action("AssignExpression", "CommonCalculator", new {  value = "/" })'" formmethod="post"
                        class='btn btn-lg btn-primary btn-input' type='button' id='small'>/</button>
                </div>
            </div>
        </div>
    </body>
</form>